## encapsulation
export("getS4SlotGSetterGenericAndMethods",
       "getS4AllSlotsGSetterGenericAndMethods",
       "writeS4SlotGSetterGenericAndMethods",
       "writeS4AllSlotsGSetterGenericAndMethods"
       )
